<aside class="menu">
  <div class="menu__cnt">
    <img src="img/logo.svg" alt="Логотип Комфортные Технологии" class="menu__logo">
    <nav class="menu__nav">
      <ul class="menu__nav-list">
        <li class="menu__nav-list-item">
          <a href="#services" class="menu__nav-link">Услуги</a>
        </li>
        <li class="menu__nav-list-item">
          <a href="#about" class="menu__nav-link">О нас</a>
        </li>
        <li class="menu__nav-list-item">
          <a href="#faq" class="menu__nav-link">Вопрос-ответ</a>
        </li>
        <li class="menu__nav-list-item">
          <a href="#shq" class="menu__nav-link">Напишите нам</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>