// assets import
@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

a[href="#"] {
  opacity: .5;
  pointer-events: none;
}

body {
  color: $black;
  font-family: NotoSans;
}

body.no-scroll {
  overflow: hidden;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

// img.lazy {
//   background: url('../img/img-placeholder.svg') center/cover no-repeat;
// }

#fake-scrollbar {
  display: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 9999;
  &.active {
    display: block;
  }
}

.nav__list-item {
  &.current {
    cursor: not-allowed;
    > .nav__link {
      pointer-events: none;
      > .nav__link-text {
        border-bottom: 1px solid;
      }
    }
  }
}

.sect {
  &-decor {
    position: absolute;
    // pointer-events: none;
  }

  &_bg {

  }
  &-title {
    font: 900 26px/140% NotoSans;
    color: $orange;
  }
  &-descr {
    font: 16px/160% NotoSans;
  }
}

div.wpcf7-response-output,
span.wpcf7-not-valid-tip,
.screen-reader-response,
.hidden {
  display: none !important;
}