<section class="shq-sect container" id="shq">
  <img src="#" data-src="img/shq-sect-img-left.svg" alt="Изображение" class="shq-sect__img-left lazy">
  <img src="#" data-src="img/shq-sect-img-right.svg" alt="Изображение" class="shq-sect__img-right lazy">
  <h2 class="shq-sect__title sect-title">Остались вопросы?</h2>
  <p class="shq-sect__descr sect-descr">Напишите нам и мы ответим на все вопросы, которые у вас есть.</p>
  <form action="send.php" method="POST" class="shq-sect__form">
    <label class="field field__email">
      <input type="text" name="user-email" class="field__inp" placeholder="E-mail" required>
    </label>
    <label class="field field__msg">
      <textarea name="user-msg" class="field__textarea" placeholder="Сообщение" required></textarea>
    </label>
    <label class="check">
      <input type="checkbox" name="policy" class="check__inp" value="Принимаю полотику об обработке персональных данных" checked required>
      <span class="check__pseudo-inp"></span>
      <span class="check__text">Даю согласие на обработку данных и согласен с <a href="/policy.pdf" rel="noopener noreferrer nofollow" target="_blank" title="Посмотреть политику конфиденциальности"  class="check__link">политикой конфиденциальности</a></span>
    </label>
    <button class="btn">Отправить</button>
  </form>
</section>