// assets import
@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

label.invalid {
  font: normal 10px/150% sans-serif;
  color: $error;
}

input.invalid,
textarea.invalid {
  border-bottom-color: $error;
}

.check {
  max-width: 300px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  cursor: pointer;
  > label.invalid {
    margin-top: 5px;
    margin-left: 25px;
    max-width: 200px;
    order: 10;
  }
  &__pseudo-inp {
    margin-right: 10px;
    display: inline-flex;
    width: 15px;
    height: 15px;
    color: $kingblue;
    border-radius: 2px;
    border: 1px solid;
    font-size: 0;
    position: relative;
    &::after {
      content: '';
      margin: auto;
      display: inline-block;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 0;
      // left: 0;
      left: -1px;
      right: 0;
      bottom: 0;
      background: url('../img/check.svg') center/cover no-repeat;
      opacity: 0;
      transition: opacity .4s;
      border-radius: inherit;
      pointer-events: none;
    }
  }
  &__text {
    display: inline-block;
    width: calc(100% - 25px);
    font-size: 11px;
    line-height: 150%;
    color: #4d4d4d;
  }
  &__inp {
    position: absolute;
    opacity: 0;
    &:checked ~ .check__pseudo-inp {
      &::after {
        opacity: 1;
      }
    }
  }
  &__link {
    transition: border-bottom-color .35s, color .35s;
    border-bottom: 1px solid;
  }
}

.field {
  display: block;
  &__inp,
  &__textarea {
    width: 100%;
    border: none;
    background: none;
    padding-bottom: 10px;
    font: inherit;
    color: $darkgrey;
    border-bottom: 1px solid $darkgrey;
    transition: border-bottom-color .35s;
    &::placeholder {
      font: inherit;
      color: $darkgrey;
      transition: color .35s;
    }
    &:focus,
    &.filled,
    &:focus.valid,
    &.filled.valid {
      color: $kingblue;
      border-bottom-color: $kingblue;
      &::placeholder {
        color: rgba(0,0,0,0);
      }
    }
  }
}