// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.about-sect {
  grid-template-columns: auto 85px auto;
  &__title {
    margin-bottom: 20px;
  }
  &__text {
  }
  &__descr {
  }
  &__img {
    margin-top: 10px;
    width: 281px;
    height: 334px;
  }
}