<section class="about-sect container" id="about">
  <h2 class="about-sect__title sect-title">О компании</h2>
  <div class="about-sect__text">
    <p class="about-sect__descr">Комфортные Технологии существуют с 2017 года. Мы не просто клининговая компания. Мы – настоящие профессионалы в уборке!</p>
    <p class="about-sect__descr">Нам важно не просто оставить после себя чистое помещение, фасад или прилегающую территорию. Мы заботимся о вашем комфорте.</p>
    <p class="about-sect__descr">В работе используем исключительно сертифицированные РостТестом моющие средства и профессиональное клининговое оборудование. Наша команда – мастера чистоты, каждый из которых не пропустит мимо себя ни пятнышка.</p>
  </div>
  <img src="#" data-src="img/about-sect-img.jpg" alt="О компагии" class="about-sect__img lazy">
</section>