<section class="hero-sect container">
  <h1 class="hero-sect__title"><b class="b">Уборка</b> офисов и производственных помещений</h1>
  <p class="hero-sect__descr">Наведем порядок так, что вы останетесь довольны</p>
  <a href="#services" class="hero-sect__btn btn">
    <span class="hero-sect__btn-text">Все услуги</span>
  </a>
</section>
<div class="features container">
  <div class="feat">
    <img src="#" alt="Личный менеджер" class="feat__img lazy" data-src="img/feat-1.svg" title="Личный менеджер">
    <p class="feat__title">Назначаем личного менеджера –  он берет на себя все заботы</p>
  </div>
  <div class="feat">
    <img src="#" alt="Ответственный подход" class="feat__img lazy" data-src="img/feat-2.svg" title="Ответственный подход">
    <p class="feat__title">Ответственно подходим к работе  и отвечаем за все головой</p>
  </div>
  <div class="feat">
    <img src="#" alt="Сертификация" class="feat__img lazy" data-src="img/feat-3.svg" title="Сертификация">
    <p class="feat__title">Используем сертифицированные моющие средства и технику</p>
  </div>
</div>