<div class="service-popup popup">
  <div class="service-popup__cnt popup__cnt">
    <button type="button" class="service-popup__close close">
      <svg class="close__icon">
        <use xlink:href="img/icons-sprite.svg#close"></use>
      </svg>
    </button>
    <img src="img/service-1.svg" alt="#" class="service-popup__img">
    <span class="service-popup__title">Ежедневная комплексная уборка</span>
    <p class="service-popup__descr">Уборка помещений каждый день. Наши специалисты на ежедневной основе очищают ваши помещения от пыли и грязи с использованием моющих средств и необходимого оборудования.</p>
    <span class="service-popup__title">Что входит в услугу</span>
    <ul class="service-popup__list">
      <li class="service-popup__list-item">– Подметаем и моем полы и плинтусы</li>
      <li class="service-popup__list-item">– Убираем пыль и грязь с поверхностей, дверных ручек и подоконников</li>
      <li class="service-popup__list-item">– Очищаем и дезинфицируем санузлы</li>
      <li class="service-popup__list-item">– Устраняем другие видимые загрязнения</li>
      <li class="service-popup__list-item">– Выносим мусор </li>
    </ul>
    <div class="service-popup__nav">
      <button type="button" class="service-popup__button btn">Заказать</button>
      <button type="button" title="Подробнее" class="service-popup__btn prev"><img src="img/arrow.svg" alt="Стрелка" class="service-popup__btn-arrow"></button>
      <button type="button" title="Подробнее" class="service-popup__btn next"><img src="img/arrow.svg" alt="Стрелка" class="service-popup__btn-arrow"></button>
    </div>
  </div>
</div>