// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

#faq-sect-decor {
  right: 150px;
}

.faq-sect {
  &__descr {
  }
  &__text-block {
    max-width: 750px;
  }

}

#faq-sect__img {
  right: responsive('1440->1920', '-445->-655');
  height: responsive('1440->1920', '600->700');
  max-height: 700px;
} 