<section class="faq-sect container" id="faq">
  <h2 class="faq-sect__title sect-title">Вопрос-ответ</h2>
  <p class="faq-sect__descr sect__descr">Мы постарались ответить на 5 основных вопросов, которые чаще всего нам задают.</p>
  <div class="faq-sect__text-block">
    <div class="faq">
      <button type="button" class="faq__question">Сколько времени занимает уборка?</button>
      <p class="faq__answer">Время, затрачиваемое на уборку, зависит от объёма и сложности работ. Небольшие помещения мы можем убрать за сутки, а для более крупных может понадобиться несколько дней. В среднем, уборка объекта занимает от 3 до 10 дней.</p>
    </div>
    <div class="faq">
      <button type="button" class="faq__question">Какие моющие средства вы используете?</button>
      <p class="faq__answer">В работе мы используем профессиональные чистящие средства, прошедшие обязательную сертификацию – ХимиТек, ProBrite, Grass и др. Например, для дезинфекции поверхностей используем специальные средства на основе активного хлора. А для чистки ковров – пенные чистящие составы.</p>
    </div>
    <div class="faq">
      <button type="button" class="faq__question">Нужно ли подготавливать помещение к уборке?</button>
      <p class="faq__answer">Никаких специальных подготовительных работ не требуется. Мы советуем лишь убрать личные вещи сотрудников и то, что может пострадать во время уборки, например, папки и документы.</p>
    </div>
    <div class="faq">
      <button type="button" class="faq__question">Кто будет убирать помещение?</button>
      <p class="faq__answer">Уборка будет осуществляться в среднем командой из 5&#8209;7 человек. Работаем с гражданами России и СНГ в соотношении 70/30. Иностранные граждане имеют все разрешительные документы для работы в России. Каждый из специалистов оснащён всеми необходимыми моющими средствами и инвентарем.</p>
    </div>
    <div class="faq">
      <button type="button" class="faq__question">Должен ли кто-то присутствовать во время уборки?</button>
      <p class="faq__answer">Это совсем необязательно, наши сотрудники ответственно подходят к работе и не трогают то, что не нужно. Но присутствие вас или вашего представителя необходимо при приеме работ.</p>
    </div>
  </div>
  <svg id="faq-sect__img">
    <use xlink:href="img/icons-sprite.svg#faq-sect-img"></use>
  </svg>
</section>