<!DOCTYPE html>
<html lang="ru-RU">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- fonts -->
  <!-- favicons -->

  <!-- styles -->
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" media="(min-width:419.98px)" href="./css/style.420.css">
	<link rel="stylesheet" media="(min-width:575.98px)" href="./css/style.576.css">
	<link rel="stylesheet" media="(min-width:767.98px)" href="./css/style.768.css">
	<link rel="stylesheet" media="(min-width:1023.98px)" href="./css/style.1024.css">
	<link rel="stylesheet" media="(min-width:1439.98px)" href="./css/style.1440.css">
  <link rel='stylesheet' href='./css/hover.css' media='(hover), (min-width:1024px)' />
  <!-- scripts -->
	<script defer src="./js/lazy.min.js"></script>
	<script defer src="./js/MobileMenu.min.js"></script>
	<script defer src="./js/Popup.min.js"></script>
	<script defer src="./js/svg4everybody.min.js"></script>
	<script defer src="./js/main.js"></script>
  <title>Document</title>
</head>
<body>
  <!-- includes -->
<!--=include ../mobile-menu/mobile-menu.html -->