// assets import
@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

#services-sect-decor {
  display: block;
  width: 550px;
  position: absolute;
  bottom: 115px;
  right: 0;
  z-index: 0;
  pointer-events: none;
}

.services-sect {
  &__services {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.service {
  width: 280px;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow .5s;
  &__title {
    max-width: 245px;
  }
}