<section class="services-sect container" id="services">
  <h2 class="services-sect__title sect-title">Наши услуги</h2>
  <div class="services-sect__services">
    <div class="service" data-descr="Уборка помещений каждый день. Наши специалисты на ежедневной основе очищают ваши помещения от пыли и грязи с использованием моющих средств и необходимого оборудования." data-list="Подметаем и моем полы и плинтусы;Убираем пыль с поверхностей, ручек и подоконников;Очищаем и дезинфицируем санузлы;Устраняем другие видимые загрязнения">
      <img src="#" alt="Ежедневная комплексная уборка" class="service__img lazy" data-src="img/service-1.svg">
      <strong class="service__title">Ежедневная комплексная уборка</strong>
      <p class="service__descr">Ежедневное поддержание чистоты и порядка на вашем объекте.</p>
      <button type="button" title="Подробнее" class="service__btn"><img src="img/arrow.svg" alt="Стрелка" class="service__btn-arrow"></button>
    </div>
    <div class="service" data-descr="Полноценная уборка промышленных помещений от пола до потолка. Удаляем максимально возможные загрязнения с помощью поломоечных машин и промышленных пылесосов." data-list="Подметаем и моем полы и плинтусы с применением;специализированных моющих средств и поломоечных машин;Моем стены и потолок, при необходимости с применением аппарата высокого давления;Моем окна и стеклянные поверхности;Убираем пыль с поверхностей, ручек и подоконников;Протираем люстры и карнизы;Очищаем и дезинфицируем санузлы;Устраняем другие видимые загрязнения;Выносим мусор">
      <img src="#" alt="Генеральная уборка" class="service__img lazy" data-src="img/service-2.svg">
      <strong class="service__title">Генеральная уборка</strong>
      <p class="service__descr">Очистка помещений от сыльных загрязнений специальными средствами.</p>
      <button type="button" title="Подробнее" class="service__btn"><img src="img/arrow.svg" alt="Стрелка" class="service__btn-arrow"></button>
    </div>
    <div class="service" data-descr="Уборка объектов после строительных работ: устранение пятен краски, штукатурки на полу и стенах. Уборка пыли, мытье окон и подоконников." data-list="Убираем строительную пыль промышленными пылесосами;Моем полы и плинтусы моющими средствами;Отмываем окна и стеклянные поверхности;Убираем пыль с поверхностей, устраняем пятна от строительных смесей, скотча;Очищаем и дезинфицируем санузлы;Устраняем другие видимые загрязнения;Выносим мусор">
      <img src="#" alt="Уборка после ремонта" class="service__img lazy" data-src="img/service-3.svg">
      <strong class="service__title">Уборка после ремонта</strong>
      <p class="service__descr">Отмоем помещение от штукатурки, краски и липкого скотча.</p>
      <button type="button" title="Подробнее" class="service__btn"><img src="img/arrow.svg" alt="Стрелка" class="service__btn-arrow"></button>
    </div>
    <div class="service" data-descr="Ежедневный осмотр помещений и поддержание работы электросистем, водоснабжения, выполнение мелких работ. Организуем диспетчерскую службу, которая придет на помощь в любое время дня и ночи." data-list="Ежедневно осматриваем вверенные нам помещения;Проверяем электропроводку, системы водоснабжения и вентиляции;Проверяем, чтобы ручки и замки хорошо открывались;Устраняем другие мелкие неисправности;Заполняем диспенсеры мылом, туалетной бумагой и бумажными полотенцами">
      <img src="#" alt="Текущее содержание помещений" class="service__img lazy" data-src="img/service-4.svg">
      <strong class="service__title">Текущее содержание помещений</strong>
      <p class="service__descr">Каждый день проверяем в порядке ли ваш объект и все коммуникации. </p>
      <button type="button" title="Подробнее" class="service__btn"><img src="img/arrow.svg" alt="Стрелка" class="service__btn-arrow"></button>
    </div>
    <div class="service" data-descr="Очищаем стеклянные, кирпичные, бетонные фасады аппаратами высокого давления от внешних загрязнений и капель дождя. Используем специальные средства для мытья фасадов и аппараты для приготовления дистиллированной воды." data-list="Устранение загрязнений на твердых фасадах аппаратами высокого давления;Мойка и полировка стеклянных фасадов дистиллированной водой;При мытье высотных фасадов зовем на помощь промышленных альпинистов">
      <img src="#" alt="Мытье фасадов" class="service__img lazy" data-src="img/service-5.svg">
      <strong class="service__title">Мытье фасадов</strong>
      <p class="service__descr">Очищаем от грязи и пыли фасады из стекла и профиля.</p>
      <button type="button" title="Подробнее" class="service__btn"><img src="img/arrow.svg" alt="Стрелка" class="service__btn-arrow"></button>
    </div>
    <div class="service" data-descr="Убираем прилегающую к вашему объекту территорию летом: очищаем асфальт, стрижём газон и кусты, убираем листья и следим за порядком." data-list="Подметаем асфальт и дорожки мётлами;Стрижём газон газонокосилками ;Подстригаем кусты и небольшие деревья;Поддерживаем общую чистоту прилегающей территории">
      <img src="#" alt="Содержание территории летом" class="service__img lazy" data-src="img/service-6.svg">
      <strong class="service__title">Содержание территории летом</strong>
      <p class="service__descr">Убираем прилегающую территорию в теплое время.</p>
      <button type="button" title="Подробнее" class="service__btn"><img src="img/arrow.svg" alt="Стрелка" class="service__btn-arrow"></button>
    </div>
    <div class="service" data-descr="Убираем прилегающую к вашему объекту территорию зимой: убираем снег и наледь снегоуборщиками и лопатами, обрабатываем дорожки реагентами." data-list="Убираем снег лопатами и снегоуборочными машинами;Очищаем дорожки и ступеньки от наледи;Обрабатываем их сухими и влажными реагентами;Поддерживаем общую чистоту прилегающей территории">
      <img src="#" alt="Содержание территории зимой" class="service__img lazy" data-src="img/service-7.svg">
      <strong class="service__title">Содержание территории зимой</strong>
      <p class="service__descr">Убираем прилегающую территорию в холодное время.</p>
      <button type="button" title="Подробнее" class="service__btn"><img src="img/arrow.svg" alt="Стрелка" class="service__btn-arrow"></button>
    </div>
  </div>
</section>